source https://www.nuget.org/api/v2
framework: >= .net45

nuget FAKE
nuget FSharp.Core
nuget npm.js

github Ionide/ionide-vscode-helpers Fable.Import.VSCode.fs
github Ionide/ionide-vscode-helpers Helpers.fs
github Ionide/ionide-vscode-helpers Fable.Import.Axios.fs
